/* Post section styles */
.message-icon {
  vertical-align: super;
  color: #F44336;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: #eaeaea;
}

.comment-count, .post-votescore {
  font-size: 16px;
}

.thumb-up-icon {
  color: #5219d2;
}

.thumb-down-icon {
  color: #e53935;
}

.remove-icon {
  color: #B71C1C;
}

.edit-icon {
  color: #2E7D32;
}

.star-icon {
  font-size: 28px;
  color: #bba80d;
}

.post-header {
  display: flex;
  justify-content: space-between;
}
